{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

<div style="padding:50px; display:grid; gap:50px; align-items:start">
  <div class="sidebar-spacer"></div>

  <div id="map-box"></div>
</div>

{{ template_data.locations|json_script:"locations-data" }}

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>    
    var map = L.map('map-box').setView([33.7502, -84.3885], 10);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'OpenStreetMap'
    }).addTo(map);

    const locations = JSON.parse(
    document.getElementById("locations-data").textContent
    );
    locations.forEach(loc => {
        console.log("Adding:", loc);
    L.marker([
        parseFloat(loc.location_lat),
        parseFloat(loc.location_long)
    ])
        .addTo(map)
        .bindPopup(loc.title);
    });

</script>
{% endblock content %}
